*{
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: url(images/banner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:90px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style-type: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;   
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffdb4d;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1{
    font-size: 62px;
    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
    
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #ffdb4d;
    background: #ffdb4d;
    transition: 1s;
}

nav .fa{
    display:none;
}

@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;  
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #ffdb4d;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-------- Despre ---------*/

.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
    color: white;
}

p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col{
    flex-basis: 31%;
    background: #ffffe6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 12px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}

.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);   
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-------- Footer ---------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #ffdb4d;
    margin: 0 30px;
    cursor: pointer;
    padding: 18px 0;
    
}

/*-------- Pagina Zeii ---------*/

.sub-header{
    height: 70vh;
    width:100;
    background-image: url(images/gods_background2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}

.sub-header h1{
    margin-top: 100px;
}

.gods p{
    text-align: center;
    margin-top: 30px;
}

.gods{
    width:80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.gods-col{
    flex-basis: 48%;
    padding: 30px 2px;  
}

.gods-col img{
    width: 100%;
}

.gods-col img:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.gods-col h1{
    padding-top: 0;
    text-align: center;
}

.gods-col p{
    padding: 15px 0 25px;
}


/*-------- Pagina Limba ---------*/
.video{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;  
}


.sub-header-language{
     height: 70vh;
    width:100;
    background-image: url(images/language_background2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}

.sub-header-language h1{
    margin-top: 100px;
}


/*-------- Media ---------*/

.galery{
    margin: 10px 50px;
}

.galery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.galery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

.sub-header-media{
     height: 70vh;
    width:100;
    background-image: url(images/contact-background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}

.sub-header-media h1{
    margin-top: 100px;
}

/*-------- Contact ---------*/

.sub-header-contact{
     height: 70vh;
    width:100;
    background-image: url(images/media-background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:white;
}

.sub-header-contact h1{
    margin-top: 100px;
}

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
    color: black
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #ffdb4d;
    margin: 10px;
    
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}

.contact-col input, .contact-col textare{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.yellow-btn{
    border: 1px solid #ffdb4d;
    background: transparent;
    color: #ffdb4d;
}

.yellow-btn:hover{
    color: white;
}








